.zoom {
    transition: transform .2s; 
  }
  
.zoom:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);

  }

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* a{
  text-decoration: none !important
} */

.abc {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
.abc span {
  padding: 10px;
  transition: .5s;
  position: relative;
}
.abc span:nth-child(1) {
  color: #fff;
  background: #262626;
}
.abc span:nth-child(2) {
  color: #fff;
  background: #ff3636;
}
.abc span:nth-child(1):before {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  background: #ff3636;
  padding: 10px;
  transition: 0.5S;
  transform-origin: top;
  transform: rotateX(90deg) translateY(-50%);
}
.abc:hover span:nth-child(1):before {
  transform: rotateX(0deg) translateY(0%);
} 
.abc span:nth-child(2):before {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  background: #262626;
  padding: 10px;
  transition: 0.5S;
  transform-origin: bottom;
  transform: rotateX(90deg) translateY(50%);
}
.abc:hover span:nth-child(2):before {
  transform: rotateX(0deg) translateY(0%);
} 
.abc  span:nth-child(1):after {
content: attr(data-attr);
padding: 10px;
position: absolute;
top: 0;
left: 0;
background: #262626;
transform-origin: bottom;
transform: rotateX(0deg) translateY(0%);
transition: 0.5s;
}
.abc:hover span:nth-child(1):after {
transform: rotateX(90deg) translateY(50%);
}
.abc span:nth-child(2):after {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  background: #ff3636;
  padding: 10px;
  transition: 0.5S;
  transform-origin: top;
  transform: rotateX(0deg) translateY(0%);
}
.abc:hover span:nth-child(2):after {
  transform: rotateX(90deg) translateY(-50%);
} 